body {
    background-color: #cccccc;
    font-family: Arial,Helvetica,SansSerif;
}

.bookHeadline {
    font-size: 12pt;
    font-weight: bold;
}

.bookDescription {
    font-size: 10pt;
}

label {
    font-weight: bold;
}